header {
    background-image: url("../images/background.jpg");
    height: 880px;
    background-size: 100% 100%;
}

nav {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
}

.logo {
    color: white;
    font-size: 35px;
}

.menu ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
}

.menu ul li a {
    color: white;
    font-size: 16px;

}

.search-box {
    width: 430px;
    display: inline-block;
    padding: 20px 30px;
    background-color: white;
    position: relative;
    /* top: 10px;
    left: 50px; */
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgb(214, 214, 214);

}

.search-title {
    padding: 10px 0;
    font-size: 30px;
    font-weight: 800;
    color: rgb(75, 74, 74);
}

.main {
    margin: 30px 80px;
}