/*헤더 start*/
header {
    background-image: url("../images/background.jpg");
    height: 800px;
    background-size: 100% 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    color: var(--white);
}

.logo {
    color: var(--white);
    font-size: 35px;

}

.search-box {
    display: -block;
    position: relative;
    top: 10px;
    left: 50px;
    background-color: var(--white);
    width: 430px;
    padding: 20px 30px;
    border-radius: var(--radius-6);
    box-shadow: 5px 5px 10px 0 rgba(186, 186, 186);
}

.search-btn {
    display: flex;
    justify-content: end;
    padding: 20px 0;
}

.search-btn button {
    background-color: var(--btn-color);
    border: none;
    color: var(--white);
    width: 70px;
    height: 45px;
    border-radius: var(--radius-6);
}

.search-input {
    width: 100%;
    height: 45px;
    border: var(--border-line);
    color: var(--gray);
}

/*헤더 end*/

/*공통 start*/
.body {
    margin: 30px 80px;
}

.title {
    font-size: 25px;
    font-weight: 700;
    ;
}

/*공통 end*/

/*에어비앤비 둘러보기 start*/
.card-box {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    height: 70px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: var(--border-line);
    border-radius: var(--radius-6);
    box-shadow: 0 0 3px 0 rgb(172, 170, 170);
}

.card-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    display: grid;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}

.ad-img {
    border-radius: var(--radius-20);
    height: 350px;
    background-size: 100% 100%;
    text-indent: -9999px;
}

.ad-img1 {
    background-image: url("../images/ad1.jpg");
}

/*에어비앤비 둘러보기 end*/

/*추천 여행지 start*/
.ad-img2 {
    background-image: url("../images/ad2.png");
    margin: 20px 0;
    border-radius: 0;
}

.img-box {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
}

.img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 250px;
}

.img1 {
    background-image: url("../images/choo1.png");
}

.img2 {
    background-image: url("../images/choo2.png");
}

.img3 {
    background-image: url("../images/choo3.png");
}

.img4 {
    background-image: url("../images/choo4.png");
}

.img5 {
    background-image: url("../images/choo5.png");
}

/*추천 여행지 end*/

/*전 세계 숙소 start*/
.home-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.home-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 180px;
}

.home-img1 {
    background-image: url("../images/home1.png");
    transition: all 0.4s;
}

.home-img2 {
    background-image: url("../images/home2.png");
}

.home-img3 {
    background-image: url("../images/home3.png");
}

.home-img4 {
    background-image: url("../images/home4.png");
}

.home-img5 {
    background-image: url("../images/home5.png");
}

.home-img6 {
    background-image: url("../images/home6.png");
}

.home-img7 {
    background-image: url("../images/home7.png");
}

.home-img8 {
    background-image: url("../images/home8.png");
}

.text1 {
    color: var(--gray);
    line-height: 2.5em;
}

.grade-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 10px;
    justify-content: start;
}

/*전 세계 숙소 end*/