.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.main {
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: center;
}

.main-body {
    width: 700px;
    text-align: center;
}

.section-title {
    color: rgb(238, 147, 147);
    font-size: 20px;
    font-weight: 700;
}

.section-subtitle {
    font-size: 12pt;
}

.section-img {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}

.img-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.item-name {
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.img-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-detail {
    background-color: rgb(225, 130, 130);
    border-radius: 6px;
    color: white;
    height: 30px;
    width: 200px;
}